<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120183876795-lkob3iflg7dequ70tmb1vkbpnr1hqs3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120183876795-lkob3iflg7dequ70tmb1vkbpnr1hqs3e</string>
	<key>API_KEY</key>
	<string>AIzaSyAvDy7XZnG1Ivoy8evajZiXqG0ojHL-Rxc</string>
	<key>GCM_SENDER_ID</key>
	<string>120183876795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.henitchobisa.frontend</string>
	<key>PROJECT_ID</key>
	<string>crazypaint-86086</string>
	<key>STORAGE_BUCKET</key>
	<string>crazypaint-86086.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120183876795:ios:b7073cd6c794cebf3ccd9e</string>
</dict>
</plist>